<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
        
        <!-- scope="singleton"时为单例模式 -->
        <!-- scope="prototype"时 每次请求创建新的实例 -->
        <bean id="beanScope" class="meng.spring.test3.BeanScope" scope="prototype"/>
        
 </beans>
